//
   Created by Schiappacassed on 19/09/2015.

extends layout
block content
    script(src='/javascript/gestsq.js')
    h1.text-left Opzioni
    div.alert.alert-danger
        a.close(href='#',data-dismiss='alert', aria-label='close') &times;
        |<strong> Attenzione </strong> Bisogna correggere prima di inviare
    div.alert.alert-success
        a.close(href='#',data-dismiss='alert', aria-label='close') &times;
        |<strong> Successo </strong> Salvataggio completo
block mainbar
    form(name='cambia',id="cambia" , method='post', action='/gestsq')
        table.table-bordered
            tbody
                tr
                    td Nome Squadra
                    td
                        input.G1(type="text" , name="G1", value="#{user.SQ_NOME_SQUADRA}")
                    td
                        button.btn.btn-success#btnSubmit(type="button", value="Salva", onclick='validate1()') Salva
                tr
                    td Immagine Squadra
                    td
                        input.G2(type="file" , name="file")
                    td
                        button.btn.btn-success#btnSubmit(type="button", value="Upload", onclick='validate2()') Salva
                tr
                    td Email
                    td
                        input.G3(type="email" , name="G3", value="#{user.SQ_MAIL}")
                    td
                        button.btn.btn-success#btnSubmit(type="button", value="Salva", onclick='validate3()') Salva
                tr
                    td Promemoria
                    td
                        if(user.SQ_AVVISO)
                            input.G4(type="checkbox" , name="G3", value="Attiva",checked=true)
                        else
                            input.G4(type="checkbox" , name="G3", value="Attiva")
                    td
                        button.btn.btn-success#btnSubmit(type="button", value="Salva", onclick='validate3()') Salva
block mainleft
    div.btn-group-vertical
        a.btn.btn-info(href="/utente") Principale