extends layout

block content
  h1= title
  p Benvenuti al #{title}
block mainleft
        h1 Login
        form.form-group#formAddUser(name="adduser",method="post",action="/login")
            input.form-group#inputUserName(type="text", placeholder="username", name="username")
            input.form-group#inputUserPassword(type="password", placeholder="password", name="password")
            button#btnSubmit.btn.btn-default(type="submit") Login