doctype
html
    head
        title #{title}
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/handsontable.css')
    body
        header
            img.img-responsive(src="img/banner.jpg" alt="banner")
        .container-fluid
                block content
            .row
                .col-xs-12.col-md-8
                    block mainbar
                    .row
                        .col-xs-6.col-md-4
                            block mainleft
                        .col-xs-6.col-md-4
                            block mainright
                .col-xs-6.col-md-4
                    block leftbar
        footer
            p Pronosticone.net
