doctype
html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/handsontable.css')
    body
        header
            h1 Pronosticone.net
        .container
            .main-content
                block content
                script(src='/javascript/handsontable.js')
                script(src='/javascript/tabelle.js')
            .sidebar
                block sidebar
        footer
            p Running on node with Express, Jade and Stylus
