doctype
html
    head
        title #{title}
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/handsontable.css')
    body
        header
            img.img-responsive(src="img/banner.jpg" alt="banner")
        .container-fluid
                block content
            .row
                .col-sm-9.col-md-6.col-lg-8
                    block sidebar
        footer
            p Running on node with Express, Jade and Stylus
