doctype
html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/handsontable.css')
    body
        header
            img(src="img/banner.jpg" alt="banner")
        .container
            .main-content
                block content
            .sidebar
                block sidebar
        footer
            p Running on node with Express, Jade and Stylus
