//
   Created by Daniele on 02/08/2015.
extends layout
block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascript/handsontable.js')
    script(src='/javascript/tabelle.js')
    h1= title
    h4(id="tid") #{tid}
block mainbar
    p Classifica
    #classificat
block leftbar
