//
   Created by Daniele on 02/08/2015.
extends layout
block content
    h1= title
    p #{title} - Classifica
    div#classificat
    script(src='/javascript/handsontable.js')
    script(src='/javascript/tabelle.js')
