extends layout
block content
    h1= title
    p Welcome #{user}
    ul
    each user, i in torneo
        li
            a(href="/torneo/:#{user.cod_torneo}")= user.descr_torneo
    .widget
        h1 Partite